<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1091507683273-8e47olojntcjbh94rkusm171lhvqk0kj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1091507683273-8e47olojntcjbh94rkusm171lhvqk0kj</string>
	<key>API_KEY</key>
	<string>AIzaSyCeqwzMbalEGuKm3rMFIjveCUYYE514AFA</string>
	<key>GCM_SENDER_ID</key>
	<string>1091507683273</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebase</string>
	<key>PROJECT_ID</key>
	<string>fb-volkov-login</string>
	<key>STORAGE_BUCKET</key>
	<string>fb-volkov-login.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1091507683273:ios:e80e2e302fb214a9c7f218</string>
</dict>
</plist>